# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/tgbot
build/_deps/tgbot-cpp-build/cmake_install.cmake
build/_deps/tgbot-cpp-build/Makefile
build/_deps/tgbot-cpp-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/progress.marks
build/_deps/tgbot-cpp-build/CMakeFiles/Export/b1cc4fcaa0b31c85fabc6e3d25a16490/TgBotConfig-noconfig.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/Export/b1cc4fcaa0b31c85fabc6e3d25a16490/TgBotConfig.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/build.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/cmake_clean_target.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/cmake_clean.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/compiler_depend.internal
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/compiler_depend.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/compiler_depend.ts
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/depend.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/DependInfo.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/flags.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/link.txt
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/progress.make
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.2.1/CMakeCCompiler.cmake
build/CMakeFiles/4.2.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.2.1/CMakeSystem.cmake
build/CMakeFiles/4.2.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.2.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/fc-stamp/tgbot-cpp/download.stamp
build/CMakeFiles/fc-stamp/tgbot-cpp/patch.stamp
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-gitclone-lastrun.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-gitinfo.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-patch-info.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-update-info.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/update.stamp
build/CMakeFiles/fc-tmp/tgbot-cpp/download.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/patch.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/tgbot-cpp-gitclone.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/tgbot-cpp-gitupdate.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/update.cmake
build/CMakeFiles/pkgRedirects/tgbot-cpp-config-version.cmake
build/CMakeFiles/pkgRedirects/tgbot-cpp-config.cmake
build/CMakeFiles/tgbot.dir/build.make
build/CMakeFiles/tgbot.dir/cmake_clean.cmake
build/CMakeFiles/tgbot.dir/compiler_depend.internal
build/CMakeFiles/tgbot.dir/compiler_depend.make
build/CMakeFiles/tgbot.dir/compiler_depend.ts
build/CMakeFiles/tgbot.dir/depend.make
build/CMakeFiles/tgbot.dir/DependInfo.cmake
build/CMakeFiles/tgbot.dir/flags.make
build/CMakeFiles/tgbot.dir/link.txt
build/CMakeFiles/tgbot.dir/progress.make
