# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/tgbot
build/_deps/tgbot-cpp-build/cmake_install.cmake
build/_deps/tgbot-cpp-build/Makefile
build/_deps/tgbot-cpp-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/progress.marks
build/_deps/tgbot-cpp-build/CMakeFiles/Export/b1cc4fcaa0b31c85fabc6e3d25a16490/TgBotConfig-noconfig.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/Export/b1cc4fcaa0b31c85fabc6e3d25a16490/TgBotConfig.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/build.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/cmake_clean_target.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/cmake_clean.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/compiler_depend.internal
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/compiler_depend.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/compiler_depend.ts
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/depend.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/DependInfo.cmake
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/flags.make
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/link.txt
build/_deps/tgbot-cpp-build/CMakeFiles/TgBot.dir/progress.make
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.2.1/CMakeCCompiler.cmake
build/CMakeFiles/4.2.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.2.1/CMakeSystem.cmake
build/CMakeFiles/4.2.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.2.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/fc-stamp/tgbot-cpp/download.stamp
build/CMakeFiles/fc-stamp/tgbot-cpp/patch.stamp
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-gitclone-lastrun.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-gitinfo.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-patch-info.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/tgbot-cpp-update-info.txt
build/CMakeFiles/fc-stamp/tgbot-cpp/update.stamp
build/CMakeFiles/fc-tmp/tgbot-cpp/download.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/patch.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/tgbot-cpp-gitclone.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/tgbot-cpp-gitupdate.cmake
build/CMakeFiles/fc-tmp/tgbot-cpp/update.cmake
build/CMakeFiles/pkgRedirects/tgbot-cpp-config-version.cmake
build/CMakeFiles/pkgRedirects/tgbot-cpp-config.cmake
build/CMakeFiles/tgbot.dir/build.make
build/CMakeFiles/tgbot.dir/cmake_clean.cmake
build/CMakeFiles/tgbot.dir/compiler_depend.internal
build/CMakeFiles/tgbot.dir/compiler_depend.make
build/CMakeFiles/tgbot.dir/compiler_depend.ts
build/CMakeFiles/tgbot.dir/depend.make
build/CMakeFiles/tgbot.dir/DependInfo.cmake
build/CMakeFiles/tgbot.dir/flags.make
build/CMakeFiles/tgbot.dir/link.txt
build/CMakeFiles/tgbot.dir/progress.make
.cache/clangd/index/main.cpp.249B25CA1025E163.idx
build/compile_commands.json
build/.cache/clangd/index/Animation.h.9463C4ED9527DFC8.idx
build/.cache/clangd/index/Api.cpp.D0B420C7B469DD22.idx
build/.cache/clangd/index/Api.h.52191C8BF0B7C91E.idx
build/.cache/clangd/index/Audio.h.0F07AD64B0FA44F9.idx
build/.cache/clangd/index/Birthdate.h.306DA58A97A6902B.idx
build/.cache/clangd/index/BoostHttpOnlySslClient.cpp.854C659A3D067DE0.idx
build/.cache/clangd/index/BoostHttpOnlySslClient.h.C57D7614E878B298.idx
build/.cache/clangd/index/Bot.cpp.A0F71B4A36324229.idx
build/.cache/clangd/index/Bot.h.2FB400CDFDE8B4DA.idx
build/.cache/clangd/index/BotCommand.h.47C5A1ACC1CA5232.idx
build/.cache/clangd/index/BotCommandScope.cpp.9418175D4EF5C7C8.idx
build/.cache/clangd/index/BotCommandScope.h.B1489C499B22C10A.idx
build/.cache/clangd/index/BotCommandScopeAllChatAdministrators.h.63178A4ABECB4796.idx
build/.cache/clangd/index/BotCommandScopeAllGroupChats.h.77B61CACCB9C8A2C.idx
build/.cache/clangd/index/BotCommandScopeAllPrivateChats.h.6B5FFF3340204ECD.idx
build/.cache/clangd/index/BotCommandScopeChat.h.99E03CE10ECEFD7E.idx
build/.cache/clangd/index/BotCommandScopeChatAdministrators.h.A399B4C6EDCCC7C3.idx
build/.cache/clangd/index/BotCommandScopeChatMember.h.CE93C14465620500.idx
build/.cache/clangd/index/BotCommandScopeDefault.h.31FE2115448BC068.idx
build/.cache/clangd/index/BotDescription.h.10891BEB51FA5F82.idx
build/.cache/clangd/index/BotName.h.7C67D3DD17A2C48F.idx
build/.cache/clangd/index/BotShortDescription.h.B0515DAEB8E01C8E.idx
build/.cache/clangd/index/BusinessConnection.h.D395CFCC13B7C922.idx
build/.cache/clangd/index/BusinessIntro.h.71D4BA32D6E51ACA.idx
build/.cache/clangd/index/BusinessLocation.h.A922BC1C3410D150.idx
build/.cache/clangd/index/BusinessMessagesDeleted.h.1B60CEDB6AA950B0.idx
build/.cache/clangd/index/BusinessOpeningHours.h.93CACE732A562F03.idx
build/.cache/clangd/index/BusinessOpeningHoursInterval.h.4152138083A315C9.idx
build/.cache/clangd/index/CallbackGame.h.539B05028B59D415.idx
build/.cache/clangd/index/CallbackQuery.h.A867637575883824.idx
build/.cache/clangd/index/Chat.h.666E71E466DF2AA4.idx
build/.cache/clangd/index/ChatAdministratorRights.h.A047A42BD2EDD28C.idx
build/.cache/clangd/index/ChatBoost.h.44BBD72403781352.idx
build/.cache/clangd/index/ChatBoostAdded.h.07DB643370333571.idx
build/.cache/clangd/index/ChatBoostRemoved.h.37E8E886235ED48D.idx
build/.cache/clangd/index/ChatBoostSource.cpp.9A4756461070575C.idx
build/.cache/clangd/index/ChatBoostSource.h.2ABD0219A8FC842E.idx
build/.cache/clangd/index/ChatBoostSourceGiftCode.h.C88A3744A9B80138.idx
build/.cache/clangd/index/ChatBoostSourceGiveaway.h.F94D1B76C40FB5C1.idx
build/.cache/clangd/index/ChatBoostSourcePremium.h.DB8BF666ECD4573E.idx
build/.cache/clangd/index/ChatBoostUpdated.h.7E041C66D2DF954D.idx
build/.cache/clangd/index/ChatInviteLink.h.6C3B0324443648FC.idx
build/.cache/clangd/index/ChatJoinRequest.h.19E4184E5D9B55A5.idx
build/.cache/clangd/index/ChatLocation.h.0685F5F2C201B8B0.idx
build/.cache/clangd/index/ChatMember.cpp.5EAA6618C5635160.idx
build/.cache/clangd/index/ChatMember.h.93AD1F7BE51E1B4D.idx
build/.cache/clangd/index/ChatMemberAdministrator.h.B6BC1237FEB9DD5B.idx
build/.cache/clangd/index/ChatMemberBanned.h.277C29A992F0D01A.idx
build/.cache/clangd/index/ChatMemberLeft.h.0134FD946BC7ABBC.idx
build/.cache/clangd/index/ChatMemberMember.h.994F9F6CCDFA9427.idx
build/.cache/clangd/index/ChatMemberOwner.h.B007C03287908C94.idx
build/.cache/clangd/index/ChatMemberRestricted.h.9C0E37A6347875AE.idx
build/.cache/clangd/index/ChatMemberUpdated.h.9D67AEFC15142A5B.idx
build/.cache/clangd/index/ChatPermissions.h.BE5A9426FACB58CF.idx
build/.cache/clangd/index/ChatPhoto.h.F96F7CEA4EBBCE68.idx
build/.cache/clangd/index/ChatShared.h.8A34F31C34986E2E.idx
build/.cache/clangd/index/ChosenInlineResult.h.77FDE955377713BD.idx
build/.cache/clangd/index/Contact.h.C59881D34AD98326.idx
build/.cache/clangd/index/CurlHttpClient.cpp.730D6F1F2FA0E7E2.idx
build/.cache/clangd/index/CurlHttpClient.h.F6A7BCCD56EC4632.idx
build/.cache/clangd/index/Dice.h.79FC821655FF43D4.idx
build/.cache/clangd/index/Document.h.6FA7F996D6A3F99C.idx
build/.cache/clangd/index/EncryptedCredentials.h.B3B5C02D82767E05.idx
build/.cache/clangd/index/EncryptedPassportElement.h.9CFF97018EF1D96D.idx
build/.cache/clangd/index/EventBroadcaster.h.4E3067C8686F05CD.idx
build/.cache/clangd/index/EventHandler.cpp.5FA4295C3A083262.idx
build/.cache/clangd/index/EventHandler.h.A7D9D7DEC1EC2663.idx
build/.cache/clangd/index/export.h.DC22EC455E269148.idx
build/.cache/clangd/index/ExternalReplyInfo.h.7D0D5066E58B949D.idx
build/.cache/clangd/index/File.h.E5342189D338B4F3.idx
build/.cache/clangd/index/FileTools.cpp.02210A632166B0D5.idx
build/.cache/clangd/index/FileTools.h.B828C37C54725EEE.idx
build/.cache/clangd/index/ForceReply.h.5AD2DB1A96114D12.idx
build/.cache/clangd/index/ForumTopic.h.5B3D8870CE3C08ED.idx
build/.cache/clangd/index/ForumTopicClosed.h.F079E7478CDB925B.idx
build/.cache/clangd/index/ForumTopicCreated.h.34837277A9CE8357.idx
build/.cache/clangd/index/ForumTopicEdited.h.67379A77803CDD06.idx
build/.cache/clangd/index/ForumTopicReopened.h.ED0CB915A9209024.idx
build/.cache/clangd/index/Game.h.07E39D8D9D84A146.idx
build/.cache/clangd/index/GameHighScore.h.B8CA3C7FE4B0B054.idx
build/.cache/clangd/index/GeneralForumTopicHidden.h.E9B78C30521DE549.idx
build/.cache/clangd/index/GeneralForumTopicUnhidden.h.CF26EF5A14C5D6E5.idx
build/.cache/clangd/index/GenericReply.h.149D62B88F784D39.idx
build/.cache/clangd/index/Giveaway.h.3FA5E1438A3F1DD9.idx
build/.cache/clangd/index/GiveawayCompleted.h.27D1CFDB3CEC1B76.idx
build/.cache/clangd/index/GiveawayCreated.h.805C30A92D8F8266.idx
build/.cache/clangd/index/GiveawayWinners.h.ABF7AC29EC8FA0C0.idx
build/.cache/clangd/index/HttpClient.h.994AE1737C2D7F5D.idx
build/.cache/clangd/index/HttpParser.cpp.55748CB4EAA8EB31.idx
build/.cache/clangd/index/HttpParser.h.3BCD66049974B2C3.idx
build/.cache/clangd/index/HttpReqArg.h.E58EB22E0F0511FA.idx
build/.cache/clangd/index/HttpServer.h.4B783076CFD350BC.idx
build/.cache/clangd/index/InaccessibleMessage.h.C000FA6BC5356F7A.idx
build/.cache/clangd/index/InlineKeyboardButton.h.E1E84C53F92F0F67.idx
build/.cache/clangd/index/InlineKeyboardMarkup.h.F33D47B978C2007B.idx
build/.cache/clangd/index/InlineQuery.h.B95E9BAA117172A7.idx
build/.cache/clangd/index/InlineQueryResult.cpp.A7030B9F22522952.idx
build/.cache/clangd/index/InlineQueryResult.h.5D53D2AE02B1EEC9.idx
build/.cache/clangd/index/InlineQueryResultArticle.h.78F09B858CC7BBFB.idx
build/.cache/clangd/index/InlineQueryResultAudio.h.9F5B96AF24A739E3.idx
build/.cache/clangd/index/InlineQueryResultCachedAudio.h.1AA852E17AB12FB1.idx
build/.cache/clangd/index/InlineQueryResultCachedDocument.h.CC58E64DAA0A220F.idx
build/.cache/clangd/index/InlineQueryResultCachedGif.h.ED51A52280339B1F.idx
build/.cache/clangd/index/InlineQueryResultCachedMpeg4Gif.h.FA5DB57932C27A2A.idx
build/.cache/clangd/index/InlineQueryResultCachedPhoto.h.8180767C6660AAF5.idx
build/.cache/clangd/index/InlineQueryResultCachedSticker.h.81E8AF702249AC37.idx
build/.cache/clangd/index/InlineQueryResultCachedVideo.h.4F681EB98DDC5FAA.idx
build/.cache/clangd/index/InlineQueryResultCachedVoice.h.68BB0BC17DE1C6D9.idx
build/.cache/clangd/index/InlineQueryResultContact.h.F9884DC268284B07.idx
build/.cache/clangd/index/InlineQueryResultDocument.h.DF400A62A4DA36F1.idx
build/.cache/clangd/index/InlineQueryResultGame.h.34DA739DC1BD1973.idx
build/.cache/clangd/index/InlineQueryResultGif.h.42B529F3E1B7E7C1.idx
build/.cache/clangd/index/InlineQueryResultLocation.h.2CD4F3EEA77F9E2E.idx
build/.cache/clangd/index/InlineQueryResultMpeg4Gif.h.975092BC305F9B8E.idx
build/.cache/clangd/index/InlineQueryResultPhoto.h.C1B6EF6BC51F0078.idx
build/.cache/clangd/index/InlineQueryResultsButton.h.84C35706D0BDE4B1.idx
build/.cache/clangd/index/InlineQueryResultVenue.h.16A3BAB12C0E101D.idx
build/.cache/clangd/index/InlineQueryResultVideo.h.F166C1A599636A9B.idx
build/.cache/clangd/index/InlineQueryResultVoice.h.C9D51D11BB59CFDD.idx
build/.cache/clangd/index/InputContactMessageContent.h.B42F941814DFE8A2.idx
build/.cache/clangd/index/InputFile.cpp.2F6B5EC5DAAD02AC.idx
build/.cache/clangd/index/InputFile.h.2510FAC2EC157270.idx
build/.cache/clangd/index/InputInvoiceMessageContent.h.3C1593F1993AA62E.idx
build/.cache/clangd/index/InputLocationMessageContent.h.C08D0E7452A033D8.idx
build/.cache/clangd/index/InputMedia.cpp.5D2D8781134E7F10.idx
build/.cache/clangd/index/InputMedia.h.F03C3D8D375E8AE7.idx
build/.cache/clangd/index/InputMediaAnimation.h.ABAB4B4B5D8B6083.idx
build/.cache/clangd/index/InputMediaAudio.h.36C3B54804F6E6DB.idx
build/.cache/clangd/index/InputMediaDocument.h.15B388BE2709291E.idx
build/.cache/clangd/index/InputMediaPhoto.h.753CAADFB0F196A2.idx
build/.cache/clangd/index/InputMediaVideo.h.F58E7FCCECF4811B.idx
build/.cache/clangd/index/InputMessageContent.cpp.DD3B30A092E3DF09.idx
build/.cache/clangd/index/InputMessageContent.h.F1B43BC3B56B3E40.idx
build/.cache/clangd/index/InputSticker.h.A9A0DE1887437351.idx
build/.cache/clangd/index/InputTextMessageContent.h.C10AC992BAC5BA49.idx
build/.cache/clangd/index/InputVenueMessageContent.h.B5AF8E7771C45985.idx
build/.cache/clangd/index/Invoice.h.7EDE7C5247537B7B.idx
build/.cache/clangd/index/KeyboardButton.h.0E4CC24270C50372.idx
build/.cache/clangd/index/KeyboardButtonPollType.h.8193B974DD4D3506.idx
build/.cache/clangd/index/KeyboardButtonRequestChat.h.EAF2131DBA77ED3F.idx
build/.cache/clangd/index/KeyboardButtonRequestUsers.h.CAFDF556906A29E6.idx
build/.cache/clangd/index/LabeledPrice.h.30D711E1AE237FD5.idx
build/.cache/clangd/index/LinkPreviewOptions.h.3481CCCEF9D7DD2F.idx
build/.cache/clangd/index/Location.h.972750CCBFF348AA.idx
build/.cache/clangd/index/LoginUrl.h.E99EA4552565BFBB.idx
build/.cache/clangd/index/MaskPosition.h.447A142CBA1F8D24.idx
build/.cache/clangd/index/MenuButton.cpp.3E4B1E2F6FD4BA5B.idx
build/.cache/clangd/index/MenuButton.h.41E68B6AD9E4B00D.idx
build/.cache/clangd/index/MenuButtonCommands.h.97E7B8EFAED6C9C7.idx
build/.cache/clangd/index/MenuButtonDefault.h.E58A4ED449F70D7E.idx
build/.cache/clangd/index/MenuButtonWebApp.h.65A3EB24AB9B4F8E.idx
build/.cache/clangd/index/Message.h.71112A5BCE4AFF0B.idx
build/.cache/clangd/index/MessageAutoDeleteTimerChanged.h.2FF4D70B58D547E1.idx
build/.cache/clangd/index/MessageEntity.h.3758D09F2265338D.idx
build/.cache/clangd/index/MessageId.h.A5231B991A523222.idx
build/.cache/clangd/index/MessageOrigin.cpp.6A7D65481E90599C.idx
build/.cache/clangd/index/MessageOrigin.h.ED0426958BB31B4C.idx
build/.cache/clangd/index/MessageOriginChannel.h.77C9C0F2519ED651.idx
build/.cache/clangd/index/MessageOriginChat.h.25F312728CE6E363.idx
build/.cache/clangd/index/MessageOriginHiddenUser.h.544351FFEA6F1BC9.idx
build/.cache/clangd/index/MessageOriginUser.h.5407E862677149F8.idx
build/.cache/clangd/index/MessageReactionCountUpdated.h.AF2830113D33A76B.idx
build/.cache/clangd/index/MessageReactionUpdated.h.003FFC8E884D079D.idx
build/.cache/clangd/index/OrderInfo.h.BC90131F03A43D2C.idx
build/.cache/clangd/index/PassportData.h.E8359154D0C68412.idx
build/.cache/clangd/index/PassportElementError.cpp.FBD4BB2BC57B8E3C.idx
build/.cache/clangd/index/PassportElementError.h.E92E7C47F795A90F.idx
build/.cache/clangd/index/PassportElementErrorDataField.h.9470E8888A9139B0.idx
build/.cache/clangd/index/PassportElementErrorFile.h.FA315A83514F9696.idx
build/.cache/clangd/index/PassportElementErrorFiles.h.BE11D209B3C773AD.idx
build/.cache/clangd/index/PassportElementErrorFrontSide.h.463CA8497526802B.idx
build/.cache/clangd/index/PassportElementErrorReverseSide.h.C29613D6717EC0E2.idx
build/.cache/clangd/index/PassportElementErrorSelfie.h.6ACC1933BC33F649.idx
build/.cache/clangd/index/PassportElementErrorTranslationFile.h.A9F3D142E3E65F29.idx
build/.cache/clangd/index/PassportElementErrorTranslationFiles.h.89F8099FFC42932E.idx
build/.cache/clangd/index/PassportElementErrorUnspecified.h.32D36839E4B2A2E1.idx
build/.cache/clangd/index/PassportFile.h.1DDECFB94544A8B2.idx
build/.cache/clangd/index/PhotoSize.h.A8CBD2DA53994315.idx
build/.cache/clangd/index/Poll.h.AF42E691042ECA0D.idx
build/.cache/clangd/index/PollAnswer.h.A79D3881F509CBB6.idx
build/.cache/clangd/index/PollOption.h.37F94C827E3B09ED.idx
build/.cache/clangd/index/PreCheckoutQuery.h.EB7D04D149BE3367.idx
build/.cache/clangd/index/ProximityAlertTriggered.h.ADB07DF9644E528B.idx
build/.cache/clangd/index/ReactionCount.h.022155F01203F829.idx
build/.cache/clangd/index/ReactionType.cpp.7CACBABCF5C6D113.idx
build/.cache/clangd/index/ReactionType.h.17DA16209A4B6C44.idx
build/.cache/clangd/index/ReactionTypeCustomEmoji.h.CFE93253B7F26EBC.idx
build/.cache/clangd/index/ReactionTypeEmoji.h.CE34C259F6480BB3.idx
build/.cache/clangd/index/ReplyKeyboardMarkup.h.96C496A7CFB47CCF.idx
build/.cache/clangd/index/ReplyKeyboardRemove.h.F5CFDD7CE741E7A2.idx
build/.cache/clangd/index/ReplyParameters.h.AB08D18D536C8438.idx
build/.cache/clangd/index/ResponseParameters.h.6DE8CEC67DC73115.idx
build/.cache/clangd/index/SentWebAppMessage.h.5792A08FCD1FDCD6.idx
build/.cache/clangd/index/SharedUser.h.305847626ED465A8.idx
build/.cache/clangd/index/ShippingAddress.h.7E7D22A2B6777E62.idx
build/.cache/clangd/index/ShippingOption.h.427BF0D2C3B70DB8.idx
build/.cache/clangd/index/ShippingQuery.h.AF0F13B9BED143C1.idx
build/.cache/clangd/index/Sticker.h.306433CB2B5A1025.idx
build/.cache/clangd/index/StickerSet.h.16E6406BFD7A07E4.idx
build/.cache/clangd/index/Story.h.4859E999F493B901.idx
build/.cache/clangd/index/StringTools.cpp.8DE9C5253C4EFA99.idx
build/.cache/clangd/index/StringTools.h.6612C29C5510D34D.idx
build/.cache/clangd/index/SuccessfulPayment.h.81225EA454B1F171.idx
build/.cache/clangd/index/SwitchInlineQueryChosenChat.h.994FC463F9DC6884.idx
build/.cache/clangd/index/TextQuote.h.A24B8576CF026FC0.idx
build/.cache/clangd/index/tgbot.h.D8FC6D9FEB392E97.idx
build/.cache/clangd/index/TgException.cpp.33A923B08360EEDB.idx
build/.cache/clangd/index/TgException.h.1CCAE94C60C697E8.idx
build/.cache/clangd/index/TgLongPoll.cpp.DA0DFB7DC5B82BC9.idx
build/.cache/clangd/index/TgLongPoll.h.7B6C2511ED39E043.idx
build/.cache/clangd/index/TgTypeParser.cpp.4AC8CC45F7D06F70.idx
build/.cache/clangd/index/TgTypeParser.h.072171997A965AA9.idx
build/.cache/clangd/index/TgWebhookLocalServer.h.ACAFEC60A7809A1C.idx
build/.cache/clangd/index/TgWebhookServer.h.AC9B75330B907346.idx
build/.cache/clangd/index/TgWebhookTcpServer.h.7BA4A3EC2B5B35FE.idx
build/.cache/clangd/index/Update.h.B103F0B76D3CB882.idx
build/.cache/clangd/index/Url.cpp.3B7728DB34D3D489.idx
build/.cache/clangd/index/Url.h.8A552631C91242DB.idx
build/.cache/clangd/index/User.h.4A0867C0F815AD93.idx
build/.cache/clangd/index/UserChatBoosts.h.DA0A78A8AF005EC6.idx
build/.cache/clangd/index/UserProfilePhotos.h.5266409D3B104381.idx
build/.cache/clangd/index/UsersShared.h.BC14EC9B4C4793E3.idx
build/.cache/clangd/index/Venue.h.8B80ED18AA8CBD72.idx
build/.cache/clangd/index/Video.h.27ED89E2A869F98A.idx
build/.cache/clangd/index/VideoChatEnded.h.B31137787B0678EA.idx
build/.cache/clangd/index/VideoChatParticipantsInvited.h.31E662BDEE71C13D.idx
build/.cache/clangd/index/VideoChatScheduled.h.8A269368D7D73365.idx
build/.cache/clangd/index/VideoChatStarted.h.55BAD1B2FF206CAC.idx
build/.cache/clangd/index/VideoNote.h.49769B3E4CEDD6D1.idx
build/.cache/clangd/index/Voice.h.041F68EC87504584.idx
build/.cache/clangd/index/WebAppData.h.C75E98CEA476FE3D.idx
build/.cache/clangd/index/WebAppInfo.h.34AC49D691C853C3.idx
build/.cache/clangd/index/WebhookInfo.h.114521ECB93B1330.idx
build/.cache/clangd/index/WriteAccessAllowed.h.93BBE1F77121017B.idx
